[submodule "vim/vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = https://github.com/tmhedberg/matchit.git
[submodule "vim/vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/vim-polyglot"]
	path = vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/vim/bundle/bash-prompt"]
	path = vim/bundle/bash-prompt
	url = https://github.com/spencertipping/bash-prompt.git
[submodule "vim/vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
